<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Number phones</th>
      <th>Born date</th>
      <th>Email</th>
      <th>Picture</th>
      <th>Huella</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Type cliente</th>
      <th>Banned</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.address %></td>
        <td><%= client.number_phones %></td>
        <td><%= client.born_date %></td>
        <td><%= client.email %></td>
        <td><%= client.picture %></td>
        <td><%= client.huella %></td>
        <td><%= client.zipcode %></td>
        <td><%= client.city %></td>
        <td><%= client.state %></td>
        <td><%= client.country %></td>
        <td><%= client.type_cliente %></td>
        <td><%= client.banned %></td>
        <td><%= link_to 'Show', client %>
        <%= link_to 'Edit', edit_client_path(client) %>
        <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Check', client_money_index_path(client) %>
        <%= link_to 'Indentification', client_indetifications_path(client) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
